.InviteEmployeeModal__wrapper {
  background: #0000004d;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
}
.InviteEmployeeModal__formWrapper {
  padding: 16px;
  gap: 12px;
  width: 500px;
  max-width: 80%;
}
.InviteEmployeeModal__formHeader {
  display: flex;
  align-items: center;
}
.InviteEmployeeModal__formInput {
  position: relative;
}
.InviteEmployeeModal__formAction {

}